<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" >
	<bean id="nmeaDecoderServiceBean" class="com.esri.geoevent.nmea.decoder.NmeaDecoderService" activation="eager">
	</bean>
  
	<service id="nmeaDecoderService" ref="nmeaDecoderServiceBean" interface="com.esri.ges.processor.GeoEventProcessorService">
	</service>
</blueprint>