<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"	default-activation="lazy">
	
	<reference id="messagingService" interface="com.esri.ges.messaging.Messaging" />
  
	<bean id="nmeaDecoderServiceBean"	class="com.esri.geoevent.processor.nmea.decoder.NMEADecoderService">
    <argument ref="messagingService" />
    <argument>
      <map key-type="java.lang.String" value-type="com.esri.geoevent.processor.nmea.decoder.translator.NMEAMessageTranslator" >
        <entry key="GPGGA">
          <bean class="com.esri.geoevent.processor.nmea.decoder.translator.NMEAGPGGAMessageTranslator"/>
        </entry>
        <entry key="GPGLL">
          <bean class="com.esri.geoevent.processor.nmea.decoder.translator.NMEAGPGLLMessageTranslator"/>
        </entry>
        <entry key="GPRMC">
          <bean class="com.esri.geoevent.processor.nmea.decoder.translator.NMEAGPRMCMessageTranslator"/>
        </entry>
      </map>
    </argument>
    
		<property name="bundleContext" ref="blueprintBundleContext" />
	</bean>
	
	<service id="nmeaDecoderService" ref="nmeaDecoderServiceBean"	interface="com.esri.ges.processor.GeoEventProcessorService" />

</blueprint>
